<!DOCTYPE html>
<html lang="pt">

<head>
    <%- include('../partials/head.ejs') %>
</head>

<body>

    <%- include('../partials/nav.ejs') %>

    <main role="main" class="container">

        <div class="row">

            <% for (let video of videos) { %>
            <div class="col-12 col-md-4">
                <div class="card">
                    <img src="<%= findImage(video.id) %>" class="card-img-top" alt="movie">
                    <div class="card-body">
                        <h5 class="card-title"><%= video.name %></h5>
                        <p class="card-text">
                            <%= video.path %>
                        </p>
                        <a href="/video/<%= video.id %>" class="btn btn-primary">
                            <i class="fas fa-play"></i>
                            Play
                        </a>
                        <button class="btn btn-danger float-right btn-delete-video" ref_name="<%= video.name %>"
                            ref="<%= video.id %>">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
            <% } %>

        </div>

        <div id="div-loading" class="row mt-5" style="display: none;">
            <i class="fas fa-circle-notch fa-2x fa-spin text-success"></i>
            &nbsp;&nbsp; <h3 class="m-0">Loading...</h3>
        </div>


    </main>

    <%- include('../partials/scripts.ejs') %>
    <script>
        $('.btn-delete-video').click((event) => {
            const btn = $(event.currentTarget);
            const refId = btn.attr('ref');
            const refName = btn.attr('ref_name');

            bootbox.confirm(`Are you sure you want to delete the ${refName}?`, (result) => {
                if (!result)
                    return;

                $.post('/video/delete', { id: refId }, (event) => {
                    bootbox.alert(`<i class="far fa-thumbs-up text-success"></i> Success!`, () => {
                        window.location.reload();
                    });
                })
            })
        })
    </script>

</body>

</html>